*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $color-accent;
  text-decoration: none;

  &:hover {
    color: $color-accent-dark;
    text-decoration: underline;
  }
}

ul,
ol {
  list-style-position: inside;
}

table {
  border-collapse: collapse;
  width: 100%;
}
